@import url(reset.css);

h1{
    text-align:center;
    font-size: xx-large;
    font-weight: bold;
}

.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blue-button{
    background-color: cornflowerblue;
    color: white;
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: large;
}
