@import url(reset.css);
body{
    display: flex;
    flex-direction: column;
    gap:80px;
    margin: 20px;
}

h1{
    font-size: xx-large;
    font-weight: bold;
}

h3{
    font-size: medium;
}


strong{
    font-weight: bold;
}

.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blue-button{
    background-color:dodgerblue;
    color: white;
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: large;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#homepage-logo-top{
    width: 60px;
}

#homepage-logo-bottom{
    width: 30px;
}
